a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div,
dl, dt, em, embed, fieldset, figcaption, figure, footer, form, header, hgroup,
html, h1, h2, h3, h4, h5, h6, i, iframe, img, input, ins, kbd, label, legend,
li, main, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-shadow: none;
  vertical-align: baseline;
}

html {
  overflow-y: scroll;
  min-height: 100%;
}

body {
  font-size: 16px;
  line-height: 1;
  min-height: 100%;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table { /* Tables still need 'cellspacing="0"' in the markup. */
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
  overflow: auto;
  font: inherit;
}

button, input, select {
  line-height: 1;
  vertical-align: middle;
  font: inherit;
}

[type="button"], [type="submit"],
button, button *{
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

[hidden] {
  display: none;
}

/* -- HTML5 Legacy Browser Support -- */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu,
nav, section, summary {
  display: block;
}

address, cite, dfn, i, var {
  font-style: normal;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/* -- Images -- */

img {
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

/* -- Webkit -- */

::-webkit-file-upload-button{
  cursor: pointer;
  -webkit-appearance: none;
}

/* -- Firefox -- */

::-moz-focus-inner {
  border: 0;
  padding: 0;
}